spring.datasource.url=jdbc:postgresql://your-host/your-db?sslmode=require&channel_binding=require
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.application.name=expense-tracker

gemini.api.key=your_gemini_api_key